@import "tailwindcss";


@theme {

    /* Font */
    --font-poppins: "Poppins", sans-serif; 
  
    /* Colours - General */
    --color-primary-blue: oklch(0.3597 0.1241 264.13);
    --color-light-grey: oklch(0.9642 0 0);
    --color-light-blue: oklch(0.8095 0.1109 210.77);
    --color-dark-custom: oklch(0.1743 0.0412 276.93);
    --color-red-dark: oklch(0.49 0.1781 27.94);
    --color-red-medium: oklch(0.5776 0.2226 26.96);
}

body {
    font-family: montserrat;
    color: oklch(0.1743 0.0412 276.93);
}

.linear-light-grey {
  background: linear-gradient(to bottom, #ffffff, #F3F3F3);
}

.underlay-offset {
    transform: translate3d(-60px, -50px, -60px);
}

.background-card-underlay {
    width: 70%;
    aspect-ratio: 1;
}

.star {
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
    position: relative; /* so background applies correctly */
    width: 1em;
    height: 1em;
}

.star:before {
    transform: translateY(-20%);
    content: "\2606"; /* outline star */
    position: absolute;
    visibility: visible;
    color: #1b56ce
}

.star:checked:before {
    content: "\2605"; /* filled star */
    color: #1b56ce; /* star (outline/fill) color */
    border-radius: 4px; /* optional rounded bg */
    padding: 2px; /* so background shows around star */
}

@layer utilities {

    .btn-blue-solid {
        @apply border border-primary-blue bg-primary-blue font-bold text-white rounded-full
    }

    .btn-blue-solid:hover {
        @apply border border-primary-blue bg-white font-bold text-primary-blue rounded-full
    }

    .btn-blue-outline {
        @apply border border-primary-blue bg-white font-bold text-primary-blue rounded-full
    }

    .btn-blue-outline:hover {
        @apply border border-primary-blue bg-primary-blue font-bold text-white rounded-full
    }

    .btn-white-outline {
        @apply border border-white bg-transparent font-bold text-white rounded-full
    }

    .btn-white-outline:hover {
        @apply border border-primary-blue bg-white font-bold text-white rounded-full
    }
    
    .btn-dark-outline {
        @apply border border-dark-custom bg-white font-bold text-dark-custom rounded-full
    }

    .btn-dark-outline:hover {
        @apply border border-dark-custom bg-dark-custom font-bold text-white rounded-full
    }

    .btn-dark-solid {
        @apply border border-dark-custom bg-black font-bold text-white rounded-full
    }

    .btn-dark-solid:hover {
        @apply border border-dark-custom bg-white font-bold text-dark-custom rounded-full
    }

    .scrolled {
        @apply bg-primary-blue transition duration-200 ease-in-out
    }

    .at-top {
        @apply bg-transparent transition duration-200 ease-in-out
    }

    .accordion-open {
        @apply h-[200px] overflow-hidden duration-200 ease-in-out
    }

    .accordion-close {
        @apply h-[0px] overflow-hidden duration-200 ease-in-out lg:h-[50px]
    }
}





